* {
  box-sizing: border-box;
}

@keyframes animatedBackground {
  from {
    background-position: 0 100px;
  }

  to {
    background-position: 0 10000px;
  }
}

#app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.again-btn {
  position: absolute;
  z-index: 10;
  margin: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.card {
  border-radius: 16px;
}

.hero {
  flex: 1;
  position: relative;
  z-index: 0;
}

.hero::before,
.hero::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 0;
}

.hero:before {
  background-image: url(https://i.pinimg.com/originals/50/ca/0b/50ca0b6e0c2263c7ddaa870665702845.png);
  background-repeat: repeat;
  background-position: 0 0;
  /*adjust s value for speed*/
  animation: animatedBackground 400s linear infinite;
}

.hero::after {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.hero-body {
  z-index: 1;
}
